<!-- <div class="container">
  <div class="row">

  </div>
  <div class="row">
    <ng-container *ngFor="let item of products">
      <div class="card col-4" >
        <img class="card-img" src="{{item.imgSrc}}">
        <h6 class="card-title">{{item.title}}</h6>
      </div>
    </ng-container>
  </div>
</div> -->
<div class="container-fluid" style="background-color:white">
<div class="container">
  <div class="row" style="background-color:white">
    <div class="cart">
      <div class="col-3">
        <h2>PRICE</h2>
        <input type="number" class="form-control" id="priceFrom"  placeholder="From">
        <input type="number" class="form-control" id="priceTo"  placeholder="To">
            </div>
            <div class="col-3">
              <H2>BRAND</H2>
              <input type="checkbox" class="acecraftBrand" id="acecraftBrand">
              <label class="form-check-label" for="acecraftBrand">Acecraft</label>
            </div>
            <div class="col-3">
              <H2>GENDER</H2>
              <input type="checkbox" class="chkBoys" name="gender" id="chkBoys">
              <label class="form-check-label" for="chkBoys">Boys</label>
              <input type="checkbox" class="chkGirls" name="gender" id="chkGirls">
              <label class="form-check-label" for="chkGirls">Girls</label>
            </div>
            <div class="col-3">
              <H2>GRADE</H2>
              <input type="checkbox" class="grade" name="gender" id="oneToFour">
              <label class="form-check-label" for="oneToFour">1 - 4</label>
              <input type="checkbox" class="grade" name="gender" id="fiveToTen">
              <label class="form-check-label" for="fiveToTen">5 - 10</label>
            </div>
    </div>
 
  </div>
    <div class="row">
      <div class="col-9">
  
      </div>
      <div class="col-3" style="float: right;">
        <select (change)='onOptionsSelected($event)'>
          <option>Sort By:</option>
          <option value="lth">Price : Low to High</option>
          <option value="htl">Price : High to Low</option>
          <option value="nasc">Name : Ascending Order</option>
          <option value="ndesc">Name : Descending Order</option>
        </select>
      </div>
    </div>
    <div class="row">
        <div class="card col-4" *ngFor="let item of productsList| sort:[sortParam,sortDirection]">
          <app-single-product [products]="item"> </app-single-product>
        </div>
    </div>
  
  </div>
</div>
