
<div class="container-fluid">
  <h1>Your bag total is {{totalPrice(cart)|currency:'INR':'symbol':'3.0'}}</h1>

<hr>
  <div class="container-fluid" *ngFor="let item of cart">
 
    <div class="row">
        <div class="col-sm">
          <img src={{item.imgSrc}}>
        </div>
        
          <div class="col-sm">
            <h3> {{item.title}}</h3>
            <h6>{{item.size}}</h6>
            </div>
            <div class="col-sm">
              <app-counterchild [counterValue]="item.quantity" (quantityEmitter)="receivequantity($event)"
                (click)="updateToCart(item)" ></app-counterchild>
            
           <!-- <input type="number"  [(ngModel)]="item.quantity"  (click)="updateToCart(item,quanties)" name="quantity" class="quantity">-->  
            </div>
            <div class="col-sm">
              <div>{{item.totalPrice}}</div>
            
                <button class="btn btn-dark m-3" (click)="delete(item)">delete</button>
              </div>
              
        
      
      </div>
    <hr>

</div>
<hr>
<div class="row">
  <div class="col-lg-4">

  </div>
  <div class="col-lg-4">
    <div>
      sub Total
    </div>
    <div>Total</div>
  </div>
  <div class="col-lg-4">
    <div>{{totalPrice(cart)}}</div>
    <div ><h2>{{totalPrice(cart)}}</h2></div>
  </div>
</div>
 
</div>
