<footer class="text-center">
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-instagram"></a>
  <a href="#" class="fa fa-linkedin"></a>
</footer>
<footer class="" style="color: white;font-family: proxima">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <button routerLink='about' mat-button class="menu-button">
          ABOUT
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm">
        <button routerLink='care' mat-button class="menu-button">
          CARE
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm">
        <button routerLink='returns' mat-button class="menu-button">
          RETURNS
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm ">
        <button routerLink='production' mat-button class="menu-button">
          PRODUCTION
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm ">
        <button routerLink='terms' mat-button class="menu-button">
          TERMS
        </button>
      </div>
      <span class="line"></span>
      <div class="col-sm">
        <button routerLink='getHelp' mat-button class="menu-button">
          GET HELP
        </button>
      </div>
    </div>
  </div>
</footer>