.btnclass{
    width: 100%;
    border-radius: 30px;
    border-width: 3px;
    border-color: grey;
    background-color: #555;
}
.blockalign{
    word-wrap: break-word;
    max-width: 800px;
    margin: auto;
    font-size: 14px !important;
    color: black;
}
.container-fluid{
    background-color: white;
}
/* .authdecarator{
    margin-left: 13%;
    margin: 31px 173px 30px 84px;
    color: #978f8f;
    width: 100%;;
} */
/* .form-control
{
display: block;
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: 0.25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */