<div class="container-fluid">
    <h1 class="text-center" style="margin-top: 20px;">Dress the right way to impress the right way</h1>
    <div class="container">
        <div class="col-md-12">
            <p>
            <p><b></b></p>
            <p><span>Ask a person who failed to make it through an interview because of his dress code, and you will
                    realize how important it is to choose the appropriate outfit for a particular event. It goes without
                    saying that the art of dressing right is an essential one to master because, at the end of the day,
                    first impressions definitely go a long way.&nbsp;</span></p>
            <p></p>
            <p><b>The ‘What Do I Wear’ Question</b></p>
            <p><span>Most of the time, your decision will be an obvious one. If the event is a formal one, professional
                    outfits will have to be chosen. Similarly, you don’t show up for an informal party in a formal
                    three-piece suit. Nailing the vibe of your event is key. If you are planning to go to a football
                    match that is happening in your college, a casual tee with track pants and sneakers checks all the
                    right boxes. If there’s an official meeting or job interview on your schedule, a formal shirt,
                    pants/skirts and shoes would be the perfect business attire. However, the best way to find out what
                    you need to wear for an event if you have a doubt is to confirm it with the organizing committee or
                    the event managers. Better safe than sorry, ay?&nbsp;</span></p>
            <p></p>
            <p><b>Exploring Your Options&nbsp;</b></p>
            <p><span>When it comes to formal events, you’ll need to find that middle ground between looking sharp and
                    exuding style. The good news is, it’s easy to nail both looks in one! Designer uniforms, for
                    example, strike the exact balance between professional suits and casuals. They are comfortable,
                    formal-looking uniforms that look presentable and polished as well as suit your personal
                    style!</span></p>
            <p></p>
            <p><b>The Final Take</b></p>
            <p><span>Here’s a quick rundown of what you can wear for what:&nbsp;</span></p>
            <p></p>
            <p><i><span>Smart casuals </span></i><span>are for office parties, happy hour meetings and business
                    luncheons. These include dress pants, loafers, pencil skirts and button-down tops.&nbsp;</span></p>
            <p></p>
            <p><i><span>Dressy casuals</span></i><span> are for church visits and formal dinners. These include silk
                    pants, dress pants, skirts, trousers, leather loafers and dress shirts.&nbsp;</span></p>
            <p></p>
            <p><i><span>Business casuals</span></i><span> are for company parties and business lunch meetings. These
                    include khakis, long sleeve tops, sweaters, casual dresses and polo shirts.&nbsp;</span></p>
            <p></p>
            <p><i><span>Business formals</span></i><span> are for job interviews and formal business meetings. These
                    include formal pants, formal shirts, formal shoes, neckties, blazers, coats, formal skirts and
                    heels.&nbsp;</span></p>
            <p></p>
            <p><b>The Colour Code&nbsp;</b></p>
            <p><span>Blacks, whites, greys, and pastel coloured outfits are the predominant colours found in the formal
                    world, while casual events go well with light, bright and sometimes, funky colours.&nbsp;</span></p>
            <p><br><br></p>
            <p><span>Pairing the right outfit with the right event is as important as preparing for the event itself.
                    You need to look clean and sharp for a meeting, hep and trendy for the mall and, cosy and comfy
                    while you’re indoors. A point to keep in mind is that the way you dress will be the way you will be
                    addressed.&nbsp; Once you know the difference, it’s hard to </span><i><span
                        style="font-weight: 300;">not</span></i><span style="font-weight: 300;"> dress the right
                    way!&nbsp;</span></p>
            <p><br><br><br></p>
        </div>
    </div>
    <app-comment-form></app-comment-form>
</div>