.blockalign{
    word-wrap: break-word;
    width: 100%;
    margin: auto;
    font-size: 14px;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}
.container-fluid{
    background-color: white;
}