<div class="section1">
    <p>Decode<br><br><br>
        your kind of designer uniforms.</p>
</div>
<!-- <div class="box1">
    <div class="box2">
        <ul>
            <li>Price</li>
            <li>Grade</li>
            <li>Brand</li>
            <li>Gender</li>
        </ul>
    </div>
    <div class="box3">
        <ul>
            <li>
                <input class="price" type="number" placeholder="from">
                <input class="price" type="number" placeholder="to">
                <button style="background-color: grey; color: white;">GO</button>
            </li>
            <li>
                <input class="grade" type="checkbox">
                <label for="checkbox">1 to 4 </label><br>
                <input type="checkbox" class="grade">
                <label for="checkbox"> 5 to 10 </label>
            </li>
            <li>
                <input type="checkbox" class="brand">
                <label for="checkbox"> Acecraft </label>
            </li>
            <li>
                <input type="checkbox" class="gender">
                <label for="checkbox"> boys </label>
                <input type="checkbox" class="gender">
                <label for="checkbox"> girls </label>
            </li>
        </ul>
    </div>
</div> -->
<app-products></app-products>
<!-- <div class="section2">
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/601d7104bb47db6b5e248fc5/webp/cisb-zipper-480x480.jpg"
            alt="">
    </div>
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/ms.products/5aa0f02c91c2e5ab32f338e0/images/5aa0f02c91c2e5ab32f338e1/5aa0f03591c2e5ab32f33940/webp/5aa0f03591c2e5ab32f33940-480x480.jpg"
            alt="">
    </div>
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/601ba9b8752f902f88d1165d/webp/t6-3-480x480.jpg"
            alt="">
    </div>
</div>
<div class="section3">
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/601d6e74cbfb666ae1145869/webp/elementary-school-480x480.jpg"
            alt="">
    </div>
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/ms.products/5aa0f5c6f04705ab2ca345c6/images/5aa0f5c6f04705ab2ca345c7/5aa0f5d0f04705ab2ca345f9/webp/5aa0f5d0f04705ab2ca345f9-480x480.jpg"
            alt="">
    </div>
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/601d6ffdbb47db6b5e246674/webp/middle-school-480x480.jpg"
            alt="">
    </div>
</div>
<div class="section4">
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/ms.products/5aa0f01491c2e5ab32f33869/images/5aa0f01491c2e5ab32f3386a/5aa0f01e91c2e5ab32f338a4/webp/5aa0f01e91c2e5ab32f338a4-480x480.jpg"
            alt="">
    </div>
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/601d70c2cbfb666ae114a053/webp/yellow-house-t-shirt-480x480.jpg"
            alt="">
    </div>
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/ms.products/5aa0f01491c2e5ab32f3383d/images/5aa0f01491c2e5ab32f3383e/5aa0f01f91c2e5ab32f338a7/webp/5aa0f01f91c2e5ab32f338a7-480x480.jpg"
            alt="">
    </div>
</div>
<div class="section5">
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/ms.products/5aa0f01491c2e5ab32f33874/images/5aa0f01491c2e5ab32f33875/5aa0f02091c2e5ab32f338b4/webp/5aa0f02091c2e5ab32f338b4-480x480.jpg"
            alt="">
    </div>
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/601ba78c752f902f88d0e6de/webp/t3-1-480x480.png"
            alt="">
    </div>
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/ms.products/5aa0f01491c2e5ab32f3384f/images/5aa0f01491c2e5ab32f33850/5aa0f02391c2e5ab32f338c6/webp/5aa0f02391c2e5ab32f338c6-480x480.jpg"
            alt="">
    </div>
</div>
<div class="section6">
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/601baa3e7779a13e48145d18/webp/t5-3-480x480.jpg"
            alt="">
    </div>
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/ms.products/5aa0f01491c2e5ab32f33848/images/5aa0f01491c2e5ab32f33849/5aa0f01f91c2e5ab32f338a6/webp/5aa0f01f91c2e5ab32f338a6-480x480.jpg"
            alt="">
    </div>
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/ms.products/5aa0f02c91c2e5ab32f338eb/images/5aa0f02c91c2e5ab32f338ec/5aa0f03591c2e5ab32f33938/webp/5aa0f03591c2e5ab32f33938-480x480.jpg"
            alt="">
    </div>
</div>
<div class="section6">
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/ms.products/5aa0f02c91c2e5ab32f33910/images/5aa0f02c91c2e5ab32f33911/5aa0f03791c2e5ab32f33946/webp/5aa0f03791c2e5ab32f33946-480x480.jpg"
            alt="">
    </div>
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/ms.products/5aa0f01491c2e5ab32f33832/images/5aa0f01491c2e5ab32f33833/5aa0f01e91c2e5ab32f338a1/webp/5aa0f01e91c2e5ab32f338a1-480x480.jpg"
            alt="">
    </div>
    <div class="product1">
        <img class="item"
            src="https://d2pyicwmjx3wii.cloudfront.net/s/5997cc7c4d6e8ffa20e50aae/ms.products/5c2a110d8c2d0e36be53ebed/images/5c2a110d8c2d0e36be53ebee/5c2a0f4a33dd284cb1ace91f/webp/5c2a0f4a33dd284cb1ace91f-480x480.jpg"
            alt="">
    </div>
</div> -->