
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 school" id="school">
        
      gsafgvbasdb
      
      </div>
 
    </div>
    <div class="row">
        <div class="col-lg-6 college" id="college">
           
           afrbhezdb
          </div>
          <div class="col-lg-6 enterprises" id="enterprises"> 
           
            ebgvahhb
            htrfghnjtdr
            ntfghnxrst
            gbnxhfdgjh
            thbsdrhb
          </div>
    </div>
  </div>
 
