<div class="container-fluid">
    <div class="heading">
    <h1><b>Blogs</b></h1>
</div>
<div class="container" class="contentclass">
    <div class="row">
        <div  class="col-md-6">
            <div [routerLink]="['/ACING']" class="boxstyle">
                <p>STYLING ACCESSORIES THAT COMPLEMENT YOUR FORMAL WEAR</p>
            </div>
        </div>
        <div class="col-md-6">
            <div [routerLink]="['/classiclookhim']" class="boxstyle">
                <p>5 CLASSIC LOOKS FOR HER</p>
            </div>
        </div>
    </div>
</div>

<div class="container" class="contentclass">
    <div class="row">
        <div class="col-md-6">
            <div [routerLink]="['/ACING']" class="boxstyle">
                <p>ACING YOUR FORMAL ATTIRE</p>
            </div>
        </div> 
        <div class="col-md-6">
            <div [routerLink]="['/selecting']" class="boxstyle">
                <p>SELECTING &amp; STYLING YOUR WORKWEAR</p>
            </div>
        </div>
    </div>
</div>

<div class="container" class="contentclass">
    <div class="row">
        <div class="col-md-6">
            <div [routerLink]="['/bodytypeswomens']" class="boxstyle">
                <p>LET’S TALK ‘BODY TYPES’, WOMEN!</p>
            </div>
        </div>
        <div class="col-md-6">
            <div [routerLink]="['/classiclookhim']" class="boxstyle">
                <p>5 CLASSIC LOOKS FOR HIM</p>
            </div>
        </div>
    </div>
</div>
<div class="container" class="contentclass">
    <div class="row">
        <div class="col-md-6">
            <div [routerLink]="['/tipsforgreateoutfit']" class="boxstyle">
                <p>TIPS FOR A GREAT OUTFIT</p>
            </div>
        </div>
        <div class="col-md-6">
            <div [routerLink]="['/dressingtosucceed']" class="boxstyle">
                <p>DRESSING TO SUCCEED: THE IMPORTANCE OF ‘FORMALS’</p>
            </div>
        </div>
    </div>
</div>
<div class="container" class="contentclass">
    <div class="row">
        
        <div class="col-md-6">
            <div [routerLink]="['/workwearforallseason']" class="boxstyle">
               
                <p>WORKWEAR FOR ALL SEASONS: THE WOMEN EDIT </p>
            </div>
        </div>
        <div class="col-md-6">
            <div [routerLink]="['/theacecraftdifference']" class="boxstyle">
                <p>THE ACECRAFT DIFFERENCE</p>
            </div>
        </div>
    </div>
</div>
<div class="container" class="contentclass">
    <div class="row">
        <div class="col-md-6">
            <div  [routerLink]="['/corporatetocupcakes']" class="boxstyle">
                <p>CORPORATE TO CUPCAKES! – STORY OF A SUPERWOMAN.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div  [routerLink]="['/collegelook']" class="boxstyle">
                <p>HOW TO COMPLETE YOUR COLLEGE LOOK</p>
            </div>
        </div>
    </div>
</div>
<div class="container" class="contentclass">
    <div class="row">
        <div class="col-md-6">
            <div  [routerLink]="['/tipsforgreateoutfit']" class="boxstyle">
                <p>DRESS THE RIGHT WAY TO IMPRESS THE RIGHT WAY</p>
            </div>
        </div>
    </div>
</div>


</div>
   