<div class="container-fluid">
    <h1 class="ms-mt-m text-center"style="margin-top: 20px;">Corporate to cupcakes! – story of a superwoman.</h1>
    <div class="blockalign">
        <p>
        <p><span></span></p>
        <p><span>Seema Punjabi, a former corporate professional, embarked on the journey of
                turning her love for baking into a full-fledged inspirational brand. Sugar Fairy stands testament to Seema's
                pursuit of her passion and innovation in her field.</span></p>
        <p></p>
        <p><span>Having worked in a corporate set up since 2012, Seema indulged in her joy of
                baking and desserts by training under a leading home baker in Bangalore in the year 2015. The year was
                eventful, and in due course Seema set up Sugar Fairy, with personalized, home baked pastries being her
                forte. When she first began, she was encouraged by those around her and the constructive feedback and
                brilliant reviews only has served to further drive her bake more! Seema relates that the first ever order
                that kick started her career was placed by her boss.&nbsp;</span></p>
        <p></p>
        <p><span >Seema is drawn to her field by an undying and fervent appreciation for desserts.
                Being an ardent foodie, she understands the role her creation plays in any event. Seema says that every
                effort put in is paid off when she sees the smiles as people dig in to her food!</span></p>
        <p></p>
        <p><span>Her journey since then has not always been a bed of soft fondant rolls, but one
                that has been challenging, exciting and full of surprises. &nbsp;</span><span
                >There was once, reminisces Seema, when she baked 1000 cupcakes for one of Titan
                Skinn’s success parties and although it was challenging, Seema with the help of a fellow baker who had a
                bigger unit baked continuously for two whole days. Seema narrates a few highlights down the road such as the
                time she baked a 22kg “Ferrari” themed cake, the biggest one she's baked thus far!&nbsp;</span></p>
        <p></p>
        <p><span>Her customers go beyond the expected range of little kids to suited up corporate
                professionals, for Seema was even called on to cater to a lovely Indie, furry-pawed friend as she just
                turned one with a pet friendly cake. More recently Seema was awarded the title “Best Home Baker” from a
                celebrated restaurant in the city.&nbsp;</span></p>
        <p></p>
        <p><span>Seema’s work is driven by innovation, constantly improving with constructive
                criticism from those most important to her: her clients. Seema relates the story of how she once</span>
            <span>got a very bad review from one of her clients on the aspects of packaging and
                also because she got the name wrong. This put into perspective the significance of detail in her work and
                she now is so much more meticulous, making sure to have everything perfectly in place.</span></p>
        <p></p>
        <p><span >Seema believes that in the field of entrepreneurship, personal style is very
                important as it gives you confidence and earns respect. Her preferred style would be a comfortable formal
                dress and jacket. She also trusts that comfort and look come hand in hand unlike many who trust only in the
                appearance. Well, you can’t go wrong with that, when your style icon is Kareena Kapoor.</span></p>
        <p></p>
        <p><span >While trying to get to know Seema outside her professional realm we learned that
                her favourite book is “The secret by Rhonda Byrne” and also that like many of us, she fangirls Salman Khan
                and watches all his movies earnestly. She admires the famous Mumbai Pastry Chef Pooja Dhingra, who’s work
                consistently inspired her.</span></p>
        <p></p>
        <p><span >&nbsp;Seema’s story has so much in common with her best-loved quote:</span></p>
        <p><span >“When you want something, all the universe conspires to help you achieve it” –
                Paulo Coelho&nbsp;</span></p>
        <p></p>
        <p><span >We don’t really have to wear an armour and fight the bad guys to be a superwoman.
                While many women still swither with contemplation, a few decide to go out there and make their dreams come
                true. And there it is, The superwoman in us.</span></p>
    </div>
    <app-comment-form></app-comment-form>
</div>
