<div class="container-fluid" >
    <h1 class="ms-mt-m text-center" style="margin-top: 20px;">Let’s talk ‘body types’, women!</h1>
    <div class="blockalign">
        <p>
        <p><b></b></p>
        <p><span >It goes without saying that women don’t conform to one body type - they cover a
                wide spectrum of shapes and sizes. Some of them may be broad and strong, others could be tall and lanky, a
                few are distinguished as well rounded, and a section of the population may be extremely petite as well. When
                it comes to dressing, an important point to note is that not every outfit suits every body type - knowing
                your body type and pairing outfits appropriately is a definite must because the outfit you choose can either
                flatter your look or be a complete, utter mismatch. Here’s how you can match your body type to the perfect
                outfit:</span></p>
        <p></p>
        <p><b></b></p>
        <ul>
            <li><b>The Hour-Glass Figure</b></li>
        </ul>
        <p></p>
        <p><span>An hour-glass shaped body is said to be neither skinny nor chubby. This body type
                is characterised by distinct curves, which is usually the standout attribute. Straight-cut skirts or formal
                pants paired with figure-hugging tops are perfect formal wear picks if you fall under this
                category</span><span >. </span><span >Loose-fitting
                outfits are generally not suggested, as this style of clothing tends to mask the beauty of this body
                type.&nbsp;</span></p>
        <p><br><br><br><br><br><br><br></p>
        <p><b></b></p>
        <ul>
            <li><b>Pear-Shaped Figure</b></li>
        </ul>
        <p></p>
        <p><span>This physique is said to have a broad frame with wide hips. If you fall under
                this category, you must be careful in choosing your outfits - a good point is to avoid materials that stick
                to your body as well. Deep-round neck tops with formal pants that are not so figure-hugging is a good
                choice. Skirts with gathered waistlines are also not advisable for this physique.&nbsp;</span></p>
        <p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
        <p><b></b></p>
        <ul>
            <li><b>Stubby Figure</b></li>
        </ul>
        <p></p>
        <p><span>For a streamlined look, a great tip is to choose colours that are darker and
                match each other well, such as dark and light blues. Avoid hugely contrasting colours between your bottom
                and top halves, because this will cause a break-up in your look. Switch to V-necks instead of crew necks.
                When it comes to footwear, always go for low contrast colours as they will portray an elongated impression
                of your body.&nbsp;</span></p>
        <p></p>
        <p><b></b></p>
        <ul>
            <li><b>Petite Figure<br></b></li>
        </ul>
        <p></p>
        <p><span>Long dresses that fall loose on your body are usually not recommended for this
                physique. Your clothes need to be shaped in such a way that it does not fall loose nor stick to your body.
                Tops with deep neck usually enhance the shape of your body. Most petite women look good in tucked-in tops
                paired with formal skirts. Footwear that covers up for their height is recommended as long as the person is
                comfortable wearing it.&nbsp;</span></p>
        <p><br><br></p>
        <p><b></b></p>
        <ul>
            <li><b>A Well Endowed Figure</b></li>
        </ul>
        <p></p>
        <p></p>
        <p><span>Women with this physique need to pay attention while choosing their outfits.
            </span><span>V-necks and scoop cuts are the safest necklines for people who come under
                this category. Choosing the right fabric also matters a great deal. Avoid tight-fitting clothes and make
                sure that the outfit is tailor-made to fit your body type. Darker colours will also help you carry your
                outfit well!&nbsp;</span></p>
        <p></p>
        <p><b>Conclusion:&nbsp;</b></p>
        <p><span>All body types are beautiful. With the right pairing of suitable clothing,
                colours and accessories, everyone can enhance their look. Finding outfits that suit you well is one thing,
                but wearing them the right way is what really matters!</span></p>
    
    </div>
    <app-comment-form></app-comment-form>
    
</div>
