<div class="container-fluid">
        <h1 class="ms-mt-m text-center" style="margin-top: 20px;">Tips for a great outfit</h1>
        <div class="blockalign">
                <p>
                <p><b></b></p>
                <p><span>Putting together a great outfit, or in simple words, getting dressed can be the
                                trickiest and the most frustrating part of every dressing-up session. “I don’t have
                                anything to wear!” is a
                                phrase that all of us mutter to ourselves while grooming ourselves for big events in
                                life.&nbsp; Here are a
                                few tips that will help you conquer the world of fashion:&nbsp;&nbsp;</span></p>
                <p><br><br></p>
                <p><b>Shop For Clothes That Suit You</b></p>
                <p><br><br></p>
                <p><span>When you are shopping for your outfits, make sure that you are conscious of how
                                every colour and style will look on you. When it comes to looking good, it's not your
                                size or shape that
                                matters, it's the fit of your clothes. Wearing the right clothes is not about going with
                                what's trending, it
                                is about choosing what suits you and what makes you feel comfortable and
                                confident.</span></p>
                <p><br><br><br><br><br><br><br><br><br><br><br><br></p>
                <p><b>Always Go For The Right Sizes</b></p>
                <p></p>
                <p><span>Make sure you don’t look like you have worn somebody else’s clothes and not your
                                own. The truth is, finding an outfit that’s practically made for you is all about
                                embracing your body type
                                and celebrating your favourite features. Picking your perfect look is easier if you are
                                aware of your body
                                type and what kind of clothing suits you.&nbsp;</span></p>
                <p></p>
                <p><b>Stick To The Basics While Dressing Up</b></p>
                <p></p>
                <p><span>If you are dressing your lower body in a bold garment, it is better to play down
                                the rest of your outfit with a light coloured shirt or top. Mixing the right colours
                                might seem difficult in
                                the beginning, but once you crack the formula, there is nothing like it that will help
                                you pull off a great
                                looking outfit.&nbsp;</span></p>
                <p></p>
                <p><b>Choose The Right Shoes</b></p>
                <p><span>The shoes you choose should complement your overall look. If your outfit is
                                formal, make sure you go for a formal pair of shoes, which usually have small heels or
                                are flats. Sneakers,
                                casual shoes, floaters and the entire range of sporty shoes will help you pull off a
                                semi-formal or a casual
                                look.&nbsp;</span></p>
                <p></p>
                <p><b>Your Hairdo Will Talk For Your Outfit</b></p>
                <p><span>A well-kempt hairdo will make you look professional at any time in the day. It
                                will make people think that you have a&nbsp; specific purpose in doing what you are
                                doing. The effort that
                                you put into your hair will also reflect back on your outfit, thus making you look sharp
                                and confident in
                                front of the world.&nbsp;</span></p>
                <p></p>
                <p><b>Conclusion:</b><span>&nbsp;</span></p>
                <p><span>Every great outfit requires a certain amount of effort that needs to be put in.
                                It is important to keep in mind that your appearance speaks for you. There is no point
                                in being a mastermind
                                if you are unable to put together a neat looking outfit for yourself. The way you dress
                                reflects your
                                character in many ways. However, at the end of the day, it is also important to keep in
                                mind that you should
                                dress to impress yourself first, and then, take on the world!</span></p>
                <p><span>&nbsp;</span></p>
                <p><br><br></p>
        </div>
        <app-comment-form></app-comment-form>
</div>