<div class="mt-5">
    <div class="col-md-12 min-vh-100 d-flex flex-column">
      <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="login-form">
                            <form class="mt-5" [formGroup]="loginForm" (ngSubmit)="login()">
                                <h2 class="text-center secondary ms-mb-m main-heading ng-binding">Login with Acecraft</h2>
                                <div class="mt-5">
                                    <div class="form-group">
                                        <input type="email"  class="form-control ng-untouched ng-invalid" name="email" id="email" formControlName="email" placeholder="email" required #email>
    
                                            <div *ngIf=" submitted && f['email'].errors?.['required']">
                                                <label class="error ng-binding">email required.</label> 
                                            </div>  
                                            <div *ngIf="f['email'].errors?.['pattern']">
                                                <label class="error ng-binding">Enter valid email.</label>
                                            </div> 
                                       </div>
                                       <div class="form-group">
                                        <input type="password"  class="form-control ng-untouched ng-invalid" name="password" id="password" formControlName="password" placeholder="password" required #password>
                                         
                                            <div *ngIf=" submitted && f['password'].errors?.['required']">
                                                <label class="error ng-binding"> Password required.</label>
                                            </div>  
                                            <div *ngIf="f['password'].errors?.['pattern']">
                                                <label class="error ng-binding"> Password should have minimum 6 characters, at least 1 uppercase letter, 1 lowercase    
                                                letter and 1 number.</label>
                                            </div> 
                                       </div>
                                <button type="submit" class="btn btn-dark">Login</button>
                                
                                <div class="ms-fs-12 text-center ms-mt-x ms-mb-m forgot">
                                    <p style="padding-top:30px">
                                        <a routerLink="/forgotten" class="secondary ng-binding" target="_blank">
                                            Forgot Password ?
                                        </a>
                                    </p><p>
                                    </p>
                                </div>
                                </div>
                            </form>
                        </div>
                 </div>
             </div>
        </div>
    </div>
 