body {
    color: #999;
    background: white;
    font-family: 'Varela Round', sans-serif;
}

.form-control {
    box-shadow: none;
    border-color: #999

}

    .form-control:focus {
        border-color:1px solid #978f8f;
    }

    .error {
        color: #d8000c;
        font-weight: bold;
        font-size: 13px;
    }

    label {display:block; text-align:center;}

.login-form {
    width: 350px;
    margin: 0 auto;
    padding: 30px 0;
}

    .login-form form {
        color: #978f8f;
        border-radius: 1px;
        margin-bottom: 15px;
        background: #fff;
        border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
        height: 500px;
        width:400px;
    }

    .login-form h4 {
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .login-form .form-group {
        margin-bottom: 20px;
    }

    .login-form .form-control, .login-form .btn {
        min-height: 40px;
        border-radius: 2px;
        transition: all 0.5s;
    }

    .login-form .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .login-form .btn {
        background: black;
        border: none;
        line-height: normal;
        width: 340px;
    }

        .login-form .btn:hover, .login-form .btn:focus {
            background: black;
        }

    .login-form .forgot-link {
        float: right;
    }

    .login-form .small {
        font-size: 15px;
    }

    .login-form a {
        color: #978f8f;
    }

.btn btn-primary {
    background-color: #978f8f;
    max-width: 100%;
    border:none;
}



a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }




