<div class="mt-5">
    <div class="col-md-12 min-vh-100 d-flex flex-column">
      <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="login-form">
                            <form class="mt-5" [formGroup]="loginForm" (ngSubmit)="login()">
                                <h2 class="text-center secondary ms-mb-m main-heading ng-binding">Login with Acecraft</h2>
                                <div class="mt-5">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="email" formControlName="email" placeholder="email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
                                </div>
                                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
                                <div class="ms-fs-12 text-center ms-mt-x ms-mb-m forgot">
                                    <p style="padding-top:30px">
                                        <a href="/forgotten" class="secondary ng-binding" target="_blank">
                                            Forgot Password ?
                                        </a>
                                    </p><p>
                                    </p>
                                </div>
                                </div>
                            </form>
                        </div>
                 </div>
             </div>
        </div>
    </div>
