<div class="row gutter-0">
    <img src="../assets/images/Enterprises-1.jpg" class="main-display-image" >
    <div class="text-center h-0"><span class="image-bg-text">Workwear that works.</span><br><i class="fas fa-chevron-down" class="text-center"></i>
    </div>
  </div>
  <div class="gutter-0 bg-grey second-block">
    <div class="container text-center text-black">
      <h1> <b>Work Relaxed.</b></h1>
      <p>When we designed our uniforms, we wore them to work every day.</p>
      <p>We still do. They’re comfy, relaxed and designed to suit your workplace.</p>
    </div> 
    <div class="container image-card">
      <div class="col-md-4 display-center">
        <div class="image-container size">
          <h5>F(IT) MATTERS</h5>
          <h2>A size for every one.</h2>
        </div>
      </div>
  
      <div class="col-md-4 display-center">
        <div class="image-container design">
          <h5>PERSONALISED BRANDING</h5>
          <h2>Your design.</h2>
          <h2>Our customization.</h2>
        </div>
      </div>
  
      <div class="col-md-4 display-center">
        <div class="image-container team">
          <h5>TEAM UP FOR TEAM WEAR</h5>
          <h2>Bulk orders delivered seamlessly.</h2>
        </div>
      </div>
    </div>
  
    <div class="mt-5 third-block">
      <h1 class="display-center"> <b>This is how we do it.</b></h1>
      <div class="col-md-12 flex-display">
        <div class="col-md-2 icon text-center ">
          <h4> <b>1</b></h4>
          <div>
            <img src="../assets/images/icon-1.png">
            <h2>Single line<br>brief</h2>
          </div>
        </div>
        <div class="col-md-2 icon text-center ">
          <h4> <b>2</b></h4>
          <div>
            <img src="../assets/images/icon-2.png">
            <h2>Mind<br>mapping</h2>
          </div>
        </div>
        <div class="col-md-2 icon text-center ">
          <h4> <b>3</b></h4>
          <div>
            <img src="../assets/images/icon-1.png">
            <h2>Design and<br>details</h2>
          </div>
        </div>
        <div class="col-md-2 icon text-center ">
          <h4> <b>4</b></h4>
          <div>
            <img src="../assets/images/icon-4.png">
            <h2>Sampling</h2>
          </div>
        </div>
        <div class="col-md-2 icon text-center ">
          <h4> <b>5</b></h4>
          <div>
            <img src="../assets/images/icon-5.png">
            <h2>Manufacturing</h2>
          </div>
        </div>
        <div class="col-md-2 icon text-center ">
          <h4> <b>6</b></h4>
          <div>
            <img src="../assets/images/icon-6.png">
            <h2>Delivery</h2>
          </div>
        </div>
      </div>
    </div>
  
    <div class="fourth-block">
      <div class="container">
  
      </div>
      <app-getintouch></app-getintouch>
    </div>
    
    <div class="fifth-block">
      <div class="container">
  
      </div>
    </div>
  
  </div>
