   <div class="Schoollogo">
        <ul class="schlogo">
            <li><img [routerLink]="['/school1']"
                    src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/jain.jpeg" alt="logo"
                    class="logos"></li>
            <li> <img [routerLink]="['/school1']"
                    src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/rvschool.png" alt="logo"
                    class="logos"></li>
            <li><img [routerLink]="['/school1']"
                    src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/sophias.jpg" alt="logo"
                    class="logos"></li>
            <li><img [routerLink]="['/school1']"
                    src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/kumarans.png" alt="logo"
                    class="logos"></li>
            <li><img [routerLink]="['/school1']"
                    src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/gurukul.png" alt="logo"
                    class="logos"></li>
            <li><img [routerLink]="['/school1']"
                    src="https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/cgis.png" alt="logo"
                    class="logos"></li>
        </ul>
    </div>
    <div class="section1">
        <h1>Designer uniforms for <b>the doers.</b></h1><br><br>
    </div>
    <div class="section2">
        <p>Aesthetically advanced,<br><br>
            our designer uniforms are <b>a cut above the rest,<br><br>
                in every sense of the word.</b></p>
    </div>
    <div class="section3">
        <p>Perfection. Now delivering to your doorstep.</p><br><br>
        <h3>
            Less <b>hassle.</b> More <b>hustle.</b><br><br>
            Our end-to-end e-commerce facility with<br><br>
            <b>superior technology enables us to<br><br>
                deliver your order right to your doorstep.</b>
        </h3>
    </div>
    <div class="section4">
        <h1>Be at ease.<br><br>
            Everyday.</h1><br><br>
        <p>Our uniforms keep your children looking great<br><br>
            from the first day of school until the end-of-the-year picnic.</p>
        <div class="banner1">
            <img class="banner" src="http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/BK,.jpg"
                alt="banner">
        </div>
    </div>
    <div class="section5">
        <div class="footer">
            <h5>Designer Uniforms</h5><br>
            <h6>___by___</h6><br>
            <p>acecraft</p><br>
        </div>
        <div class="footer2">
            <p>Looking to change your supplier?</p>
            <button class="btn1">click me</button>
        </div>
    </div>
