<div class="container-fluid">
        <h1 class="ms-mt-m text-center" style="margin-top: 20px;">How to complete your college look</h1>
        <div class="blockalign">
                <p>
                <p><b></b></p>
                <p><b>Blazers</b></p>
                <p><span>A crucial must-have garment to complete the professional look, blazers don’t just
                                enhance your outfit - they make you look </span><i><span>and</span></i><span> feel the
                                part during any formal event. When it comes to men, classic colours like
                                black, grey, tan and royal blue accentuate their dressing style, while women tend to
                                pick shades that suit
                                their shirts. Blazers also look great on women when they are paired with a formal
                                skirt.&nbsp;</span></p>
                <p><span>Handy Tip: Avoid blazers when there’s extensive travelling in the picture,
                                though. Your sweat glands will thank you.&nbsp;&nbsp;</span></p>
                <p></p>
                <p><b>Polo T-Shirts</b></p>
                <p><span>A T-shirt is great for a laid-back, casual look, but a polo T-shirt is perfect
                                for all the other kinds of occasions. Not only do they fit the physique well, but the
                                collar also makes it
                                automatically look dressier. If you are heading for an office party or a semi-formal
                                gathering, you can
                                avoid the formal workplace shirts and opt for polos instead. From warm to cool, polos
                                come in a plethora of
                                colours but choose yours only once you’ve got the vibe of your event down.&nbsp;</span>
                </p>
                <p></p>
                <p><b>Jeans/Formal Pants</b></p>
                <p><span>From faded jeans to dark denims, low waist or mid waist, skinny or straight fit,
                                the options are endless and so are the colours! The great bit about jeans is that it is
                                one of the most
                                versatile pieces of clothing, due to its ability to complement an effortless casual look
                                as well as a
                                semi-formal one. They can be matched with a polo T-shirt for any guy’s casual day out,
                                or with a silk top
                                and suede blazer combination when it comes to women.&nbsp;</span></p>
                <p><span>So when it comes to choosing the right pair, keep the occasion in
                                mind.&nbsp;</span></p>
                <p></p>
                <p><span>If the event is strictly formal, professional pants, pantsuits or trousers should
                                be your go-to wardrobe. Choose a colour that blends with your shirt, tie, blazer, and
                                you’re good to
                                go!&nbsp;</span></p>
                <p></p>
                <p><b>Sweatshirts</b></p>
                <p><span>The perfect lazy day outfit, a sweatshirt is usually the highlight in every
                                casual outing, be it game day or if you’re hitting the gym. It’s usually a staple among
                                college goers as
                                well. But draw the line right there. Wearing these baggy creations to a meeting or a
                                presentation is a big
                                no-no.&nbsp;</span></p>
                <p><span>It’s great for Netflix and Chill, though.&nbsp;</span></p>
                <p></p>
                <p><b>Shoes</b></p>
                <p><span>Sneakers, in addition to being super comfortable, can be paired with literally
                                any outfit. Not to mention, the socks that accompany them! Patterns, cut, fit,
                                colours...nothing adds more
                                flair to your feet than a pair of quirky socks. On the other hand, sandals, heels and
                                wedges are also
                                fashion favourites for women but double as appropriate formal footwear when paired with
                                the right kind of
                                outfits. When it comes to men, loafers or oxfords work great with any attire and bring
                                out a polished,
                                professional look.&nbsp;</span></p>
                <p></p>
                <p><b>Bags</b></p>
                <p><span>Ever seen a college student without one of these? We haven’t either!&nbsp;</span>
                </p>
                <p><span>Easy to carry, classy yet fashionable, funky tote bags are every college woman’s
                                go-to accessory. However, it is ideal to switch it up with blacks, browns,&nbsp; pastels
                                or corresponding
                                muted shades when pairing it with a formal attire. Men usually prefer messenger bags,
                                satchels, or commuter
                                bags that can enhance their professional look.</span></p>
                <p></p>
                <p><b>Neckties</b></p>
                <p><span>An important addition to your professional attire, a necktie is the one element
                                that rounds off your formal look. Ranging across a series of colours and sizes, neckties
                                can be paired with
                                formal attires in a variety of interesting ways. Thin neckties of late have been
                                climbing up the trend
                                charts, and are a popular item in the present-day student wardrobe.&nbsp;</span></p>
                <p></p>
                <p><b>Belts</b></p>
                <p><span>Belts are quite easily one of the most vital accessories. A good belt can take
                                your outfit a long way, and almost always, it’s a good idea to stick to the classics -
                                the blacks, browns
                                and tans.&nbsp;</span></p>
                <p><span>Fun fact: Burgandy is steadily climbing the trend ranks as well.&nbsp;</span></p>
                <p></p>
                <p><b>Watches&nbsp;</b></p>
                <p><span>Strap colour, wrist size, dial size, dial colour,
                                occasion...</span><i><span>watch</span></i><span> out for all of these factors
                                when you’re adding the finishing touches to your formal look. Another great tip, is to
                                take into
                                consideration the typology of the watch - minimal, bulky, muted or bling, it’s all about
                                what works for you
                                (and your outfit)!&nbsp;&nbsp;</span></p>
                <p></p>
                <p><b>Glares</b></p>
                <p><span>Last but not least, glares are a must. Not only do these protect you from the
                                harsh sunlight, but they also make for a great add-on. Class in the mornings? Check.
                                Heading to the beach?
                                Check. There’s a variety of glares that you can choose from, and a great tip is to
                                always keep your facial
                                structure in mind before opting for one.&nbsp;</span></p>
                <p><span>&nbsp;&nbsp;</span></p>
                <p></p>
        </div>
        <app-comment-form></app-comment-form>
</div>