<div class="container-fluid">
        <h1 class="ms-mt-m text-center" style="margin-top: 20px;">5 classic looks for her</h1>
        <div class="blockalign">
                <p>
                <p><span>Formal attires undoubtedly bring out the best in women - it’s bold, classy,
                                versatile and above all, makes an unforgettable style statement. However, it’s crucial
                                to always dress
                                according to the occasion - make sure you don't lose the essence of your formal wear
                                when you mix &amp;
                                match your favourite outfits. Here are five classic looks for you:&nbsp;</span></p>
                <p></p>
                <p><b>Look 1</b><b><br></b></p>
                <p><b>Formal Pant + Blouse</b></p>
                <p><span>Headed to a casual business meeting or a potential client meet up? Have no idea
                                what to wear? Make it as simple as a classic pants and blouse combination! A pair of
                                cotton or khaki
                                ankle-length pants styled with a semi-formal linen, cotton or chiffon blouse creates the
                                perfect formal
                                look.&nbsp;</span></p>
                <p></p>
                <p><b>Look 2</b></p>
                <p><b>&nbsp;&nbsp;&nbsp;</b></p>
                <p></p>
                <p><b>Skirt + Top</b></p>
                <p><span>Got an interview to attend? Or are you flying out of the city for a conference?
                                Tired of sticking to the same crisp white shirt and formal pants combination? Here’s how
                                you can change up
                                your look while striking a balance between your typical formal look and a creative
                                approach - just pair a
                                pencil skirt with a top in a neutral colour palette!</span></p>
                <p></p>
                <p><b>Look 3</b></p>
                <p><b><br><br></b></p>
                <p><b>Pants/Skirts + Full Sleeve Shirts</b></p>
                <p><span>Wearing the same outfits to work every day can get boring and make your life feel
                                mundane. For a change, you can subtly make the switch to different outfits. The idea is
                                to pair a pant or
                                skirt with full sleeve shirts. Always keep this point in mind - the shirts shouldn’t be
                                in dark colours, but
                                the pants or the skirt can be.</span></p>
                <p></p>
                <p><b>Look 4</b></p>
                <p><b>Blouse + Bow + Skirt</b></p>
                <p><span>If elegance is what you’re aiming for, this outfit does the job excellently! A
                                blouse with a bow gives you a refined look, especially when it’s paired with a skirt.
                                Avoid blouses which
                                have prints or any patterns - plain ones do the trick much better. Also, this is a great
                                look for any
                                business meeting.&nbsp;</span></p>
                <p></p>
                <p><b>Look 5</b></p>
                <p></p>
                <p><b>Khaki Suit</b></p>
                <p><span>A khaki suit is an extremely versatile outfit to have in your wardrobe - it gives
                                both a professional and a polished look. It’s essential that any khaki suit should have
                                a matching khaki
                                skirt, and a light coloured contrast shirt.&nbsp;</span></p>
                <p></p>
                <p><b>Conclusion</b></p>
                <p><span>The first impression on your potential employer should always be the best one, so
                                it’s imperative to dress in formals when attending formal functions. For the
                                best-customised workwear that’s
                                tailored to perfection, visit Acecraft and have a look at our expansive
                                range!&nbsp;</span></p>

        </div>
        <app-comment-form></app-comment-form>
</div>